<section class="profile">
    <div class="container">
        <div class="row ">
            <div class="col-sm-6 card-round">
            <h4 class="text-info">Suggestion d'amis</h4>
             {% for info in infouser %}
                <div class="contenu text-center">
                    {% if info.sex == 1 %}     
				        <img src="{{asset('img/pdpdefault/avatar2.png')}}" class="img-responsive img-circle text-center align" width="50px" height="50px" />
				    {% else %}
				        <img src="{{asset('img/pdpdefault/avatar5.png')}}" class="img-responsive img-circle text-center align" width="50px" height="50px" />
				    {% endif %}
				    <hr/>
                    {% if info.nom is empty %}
					    <a href="{{path('profile_amis',{id:info.id})}}" class="text-info">{{info.username}}</a><br/>
					{% else %}
					    <a href="{{path('profile_amis',{id:info.id})}}" class="text-info">{{info.nom}}  {{info.prenom}}</a>
					    <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i>{{ info.activite|e|capitalize }}</p>
                         <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i> {{ info.ville|e|capitalize }}</p>
                         <p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i>{{ info.jour|e|capitalize }} {{ info.mois|e|capitalize }} ,{{ info.annee|e|capitalize }}</p>
					    <br/>
					{% endif %}
					
                    <hr/>
                     {{ render(controller("AppBundle:Suggestion:checkIfUserWasSendrequest",{'idOther' :info.id})) }}
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</section> 

                
                          