<nav class="navbar navbar-default navbar-color navbar-ct-transparent navbar-relative " role="navigation-demo" id="register-navbar">
	      <div class="container">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="{{path('profile_homepage')}}">
	            <img src="{{asset('img/logo/logo.png')}}" class="logo img-responsive" width="80px*" height="80px"/>
	          </a>
	        </div>
	    
	        <!-- Collect the nav links, forms, and other content for toggling -->
	        <div class="collapse navbar-collapse" id="navigation-example-2">
	          <ul class="nav navbar-nav navbar-right">
	            <li>
	                <a href="#" class="" title="actualité">
	                   Actualité
	                </a>
	            </li> 
	            <li>
	                <a href="{{path('profile_homepage')}}" class="" title="Profile">
	                   Profile
	                </a>
	            </li> 
	            <li>
	                <a href="{{path('cours')}}" class="" title="Cours">
	                   Cours
	                </a>
	            </li> 
	            <li>
	                <a href="#" class="" title="messages">
	                   Messages
	                </a>
	            </li>
	            <li>
	                <a href="#" class="" title="demande">
	                   Demande
	                </a>
	            </li> 
	            <li>
	                <a href="{{path('projet')}}" class="" title="projet">
	                   Projet
	                </a>
	            </li>   
	            <li >
	                <a href="{{path('fos_user_security_logout')}}" title="Deconnexion">
	                   Deconnexion
	                </a>
	            </li>
	           </ul>
	        </div><!-- /.navbar-collapse -->
	      </div><!-- /.container-->
	 </nav>